# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
*.dll
*.exe
*.pdb

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Microsoft Azure Web App publish settings.
PublishProfiles/

# NuGet
*.nupkg
*.snupkg
.nuget/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*